<!DOCTYPE html>
<html>
<head>
  <title>Enterpriseape</title>
  <%= stylesheet_link_tag    'application.css.scss', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application..css.scss', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <ul class="nav nav-tabs">

      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About Us", welcomes_about_path %></li>
      <li><%= link_to "Contact", welcomes_contact_path %></li>
      <li><%= link_to "Features", welcomes_features_path %></li>
      <li><%= link_to "FAQs", welcomes_faqs_path %></li>
      <li><%= link_to "Pricing", welcomes_pricing_path %></li>
      <li> <%= link_to "Invoices", invoices_index_path %></li>
      <li><%= link_to "Login", welcomes_login_path %></li>
  </ul>
  
  <%= yield %>
  
</div>

</body>
</html>
